<h2 mat-dialog-title>{{editMode ? 'Update': 'Add New'}} Task</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="addEditForm">
        <!-- NAME -->
        <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Name</label>
            <div class="col-lg-8 fv-row">
                <input type="text" class="
          form-control form-control-lg form-control-solid
          mb-3 mb-lg-0
        " formControlName="name" placeholder="Name" />
            </div>
        </div>

        <!-- Command -->
        <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Command</label>
            <div class="col-lg-8 fv-row">
                <input type="text" class="
            form-control form-control-lg form-control-solid
            mb-3 mb-lg-0
          " formControlName="command" placeholder="Command" />
            </div>
        </div>

        <!-- Repo -->
        <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">Repo</label>
            <div class="col-lg-8 fv-row">
                <input type="text" class="
            form-control form-control-lg form-control-solid
            mb-3 mb-lg-0
          " formControlName="repo" placeholder="Repo" />
            </div>
        </div>

        <!-- User -->
        <!-- <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6">User</label>
            <div class="col-lg-8 fv-row">
                <select name="user" data-control="select2" data-hide-search="true" formControlName="user"
                    class="form-select 
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0">
                    <option *ngFor="let user of users" value="{{user?.id}}" selected>{{user?.email}}</option>
                </select>
            </div>
        </div> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="addEditForm.invalid" (click)="editMode? updateTasks():createNewTasks()">{{editMode
        ? 'Update': 'Add New'}} Task</button>
</mat-dialog-actions>